<style>
    .btn-search {
        background-color: #fe424d;
        color: white;
        border: none;
        padding: 0.5rem 1.5rem;
        font-weight: bold;
        border-radius: 50px;
        /* Increased for oval shape */
        transition: background-color 0.3s ease;
    }

    .btn-search:hover {
        background-color: #e63b45;
        color: white;
    }

    .search-form {
        display: flex;
        max-width: 400px;
        width: 100%;
    }

    .search-form input {
        border-radius: 50px 0 0 50px;
        border: 1px solid #ccc;
        padding: 0.5rem 1rem;
    }

    .search-form button {
        border-radius: 0 50px 50px 0;
    }
</style>

<nav class="navbar navbar-expand-md sticky-top" style="min-height: 65px; padding-top: 20px; padding-bottom: 20px;">
    <div class="container-fluid">
        <a class="navbar-brand" href="/listing"><i class="fa-solid fa-compass"></i> Explore</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="d-flex justify-content-center w-100">
            <form class="search-form" role="search">
                <input class="form-control me-2" type="search" placeholder="Search listings..." aria-label="Search">
                <button class="btn btn-search" type="submit">Search</button>
            </form>
        </div>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-auto">
                <a class="nav-link" href="/listing/new">Add new Listing</a>
                <% if (!currUser) { %>
                    <a class="nav-link" href="/signup"><b>Sign up</b></a>
                    <a class="nav-link" href="/login"><b>Log in</b></a>
                    <% } else { %>
                        <span class="nav-link disabled">
                            <i class="bi bi-person-circle"></i>
                            <%= currUser.username %>
                        </span>
                        <a class="nav-link" href="/logout"><b>Log out</b></a>
                        <% } %>
            </div>
        </div>
    </div>
</nav>